* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 120%;
  background-color: #f3f4f6;
}
.content {
  display: flex;
  height: 100%;
  max-width: 1300px;
  gap: 40px;
  padding: 40px;
}
