.CV-experience {
  padding: 20px 50px 20px 50px;
}
.CV-experience-title {
  font-size: 18px;
  font-weight: 600;
  background-color: beige;
}
.CV-experience-content {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
}
.CV-experience-description {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
