.forms {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 12px;
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  align-items: center;
  gap: 20px;
  border: none;
  background-color: #fff;
}
.forms input {
  border-radius: 7px;
  border: none;
  background-color: #e4e4e281;
  height: 30px;
  padding: 5px;
}
.forms textarea {
  border-radius: 7px;
  border: none;
  background-color: #e4e4e281;
  padding: 5px;
}
.form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-privateDetail-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}
.forms::-webkit-scrollbar {
  width: 12px;
}

.forms::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.forms::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}
